{% extends "layout.html" %}
{% block page_title %} {% endblock %}
{% block body %}
    {{ super() }}

    {% if historiques %}
        <h3>Les historiques d'accées</h3>
        <table class="table small">
            <thead>
                <tr>
                  <th>ID</th>
                  <th>Date Entrée</th>
                  <th>Personne</th>
                  <th>Action</th>
                </tr>
            </thead>
            {% for id, name, date_access , act in historiques %}
                    <tr>
                       <td> {{ id }} </td>
                       <td> {{ date_access }} </td>
                       <td> {{ name }} </td>
                        <td><a href={{act}}>Supprimer</a></td>

                    </tr>

            {% endfor %}
        </table>
    {% endif %}

{% endblock %}